@import "usefull.scss";
/* Globals */

body {
  padding-top: 7rem;
  background-color: fff !important;
  min-height: 100%;
  margin: 0;
}

/* Postes pages */

.myCat {
  line-height: 7rem;

  margin-right: 5rem;

  &:hover {
    text-decoration: underline;
  }
}

.categoriesPostes {
  border-top: solid 0.1px;
  border-bottom: solid 0.1px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.postesContainer {
  margin-left: 8rem !important;
  margin-right: 5rem !important;
}

.imgPostesContainer {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.userPicture {
  width: 5rem;
  border-radius: 50%;
}

.cardTitle {
  height: 5rem;
  font-size: 1.2rem;
}
.headerCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Show one */
.showContainer {
  margin-left: 8rem !important;
  margin-right: 5rem !important;
}

.imgSuggest {
  width: 18rem;
  height: 12rem;
}

.ulRequire {
  list-style-type: disc;

  .child {
    font-family: "Roboto";
  }
}

/* My Posts */

.imgMyPosts {
  height: 10rem;
}

/* Header Image */
.headerDiv {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 63rem;
  background: rgba($color: #000000, $alpha: 0.5);
}

.myImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.myName {
  z-index: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.noelAn {
  color: white;
  font-size: 2rem;
  font-family: "Courgette";
}

.devWeb {
  font-family: "Noto Sans Sc";
  color: white;
  font-size: 1.5rem;
  position: absolute;
  white-space: nowrap;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 150%);
}

.descriptionHome {
  font-family: "Noto Sans Sc";
  color: white;
  font-size: 1.5rem;
  position: absolute;
  white-space: nowrap;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.seConnecter {
  font-family: "lora";
  color: #4285f4;
  font-size: 3.5rem;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  padding: 1rem;
  top: 200%;
  left: 50%;
  border: 10px solid #4285f4;
  transform: translate(-50%, 100%);
  background-color: rgba($color: #000000, $alpha: 0.5);

  cursor: pointer;
}

/* triple icon */

.tripleIcon {
  border: 5px solid #4285f4;
  border-radius: 50%;
  line-height: 100rem;
  width: 13rem;
  height: 13rem;
  font-size: 8rem;
  padding-top: 2rem;
}

.fadeImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bandeau {
  height: 200px;
  width: 100%;
  position: relative;
  top: -400px;
  z-index: -1;
  background-color: #4285f4;
}

.imgTemoignage {
  width: 10rem;
  height: auto;
  border-radius: 50%;
}

.topTuto {
  min-height: 800px;
}

/* Custom confirm */

.custom-ui {
  text-align: center;
  width: 500px;
  padding: 40px;
  background: #21738b;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  border-radius: 5%;
  color: #fff;
  > button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
  }
}

.joinUs {
  cursor: pointer;
}

/* navbar */
nav {
  background-color: white;
}

.myNav {
  color: black;
}

.centerNav {
  position: relative;
  left: 18%;
  text-align: center;
}

/* footer */

.footer {
  border-top: 0.5px solid;
  background-color: grey;

  height: 10rem;
}
