@import url("https://fonts.googleapis.com/css?family=Concert+One|Lora|Noto+Sans|Nunito|PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Source+Sans+Pro&display=swap");

/* Font */
$fonts: "pt sans" serif, "lora" serif, "notosans" sans-serif,
  "nunito" sans-serif, "concertone" cursive;

@each $font in $fonts {
  .#{nth($font, 1)} {
    font-family: nth($font, 1), nth($font, 2);
  }
}

.badFt  {
  font-family: "Bad Script", cursive;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.montSerrat {
  font-family: "Montserrat", sans-serif;
}

.sourceSans {
  font-family: "Source Sans Pro", sans-serif;
}
.light {
  font-weight: lighter;
}

/* Color */
$colors: "myGrey" #9e9e9e, "myBlue" #3f51b5, "myPink" #ce76c8;

@each $color in $colors {
  .#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
}

$directions: "top", "bottom", "left", "right";

@for $i from 1 through 10 {
  .p-#{$i} {
    padding: #{$i}rem;
  }

  .m-#{$i} {
    margin: #{$i}rem;
  }

  .fs-#{$i} {
    font-size: #{$i}rem;
  }

  @each $direction in $directions {
    .p-#{$direction}-#{$i} {
      padding-#{$direction}: #{$i}rem;
    }
  }

  @each $direction in $directions {
    .m-#{$direction}-#{$i} {
      margin-#{$direction}: #{$i}rem;
    }
  }
}

/* Usefull */

.solid {
  border: solid;
}

.zindex {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.opacity-semi {
  opacity: 0.5;
}

.opacity-light {
  opacity: 0.3;
}

.underline {
  text-decoration: underline;
}

// Gallery

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 12rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}
