.homepage {
  .header {
    height: 100vh;

    .text-container {
      @include center;
      font-size: 32pt;
      text-align: center;
      color: white;
    }
  }

  .about {
    margin: 50px 0px;
    .title {
      @include title;
      font-size: $main-s + 2;

      padding: 20px;
    }

    .text-container {
      margin: auto;
      width: 60%;

      @include s-d {
        width: 100%;
      }

      .text {
        margin: 15px;

        .invitation {
          margin: 5px;
          color: $blue;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
