.postes-header {
  position: fixed;
  background-color: black;
  width: 100%;
  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    @include Roboto;
    color: white;
    z-index: 100;

    @include s-d {
      display: none;
      li {
        display: none;
      }
    }

    .category {
      margin: 20px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .active {
      font-weight: bold;
      text-decoration: underline;
    }

    .search {
      width: 35%;
      position: relative;
      display: flex;
    }

    .search-filter {
      width: 100%;
      border: 1px solid $grey;
      border-right: none;
      padding: 5px;
      height: 16px;
      box-sizing: content-box !important;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9dbfaf;
    }

    .searchTerm:focus {
      color: $grey;
    }

    .searchButton {
      width: 40px;
      height: 28px;
      border: 1px solid $grey;
      background: $grey-lighter;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;

      i {
        color: white;
      }
    }
  }

  .filters-sm {
    display: none;
    @include s-d {
      display: flex;
      justify-content: space-around;
      transition: all 0.5 ease;

      @include Roboto;

      .dropdown {
        padding: 20px;
        &:hover {
          cursor: pointer;
        }
        &:hover li {
          display: block !important;
          &:hover {
            display: block !important;
          }
        }

        ul {
          background-color: black;
          width: 30%;
          text-align: center;
          padding: 0;
          position: absolute;
          left: 0;
          margin: 0;
          z-index: 100;
        }
        // li {
        //   display: block !important;
        // }
      }
    }
  }
}
