.register-page {
  height: 94vh;
  width: 100vw;
  .register-container {
    @include center;
    width: 40%;
    height: auto;

    @include m-d {
      width: 50%;
    }

    @include s-d {
      width: 70%;
    }
    @include xs-d {
      width: 90%;
    }

    .card {
      padding: 30px;
    }

    .title {
      text-align: center;
      color: $blue;
      font-size: $title-s;
      font-weight: bold;
    }

    .sub-text {
      text-align: center;
      font-size: $sub-s + 2;
      color: $grey;

      a {
        color: $blue;
        padding-left: 3px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
